body {
    background-image: url("images/background.jpg");
}

#welcome {
    position: absolute;
    left: 650px;
}

#welcome_2 {
    position: absolute;
    top: 510px;
    left: 125px
}

#Chicken_Image {
    position: absolute;
    width: 450px;
    left: 670px;
    bottom: 395px;

}

#menu {
    position: absolute;
    left: 30px;
    font-size: 30px;
    top: 35px;
}

#sign_in{
position: absolute;
    left: 1640px;
    font-size: 30px;
    top: 35px;

}

a:hover {
    color: aqua;
}

#lore  {
    position: absolute;
    top: 2000px;
    font-family: 'Café Françoise', sans-serif;
}

#about {
    position: absolute;
    top: 560px;
    font-size: 40px;
    left: 820px;
    font-family: 'Café Françoise', sans-serif;

}

#about-us-image{
    position: absolute;
    top:700px;
}

#customer-service-image {
    position: absolute;
    top: 700px;
    left: 1055px;
    width: 700px;
}

#under-freshness {
    position: absolute;
    top: 1215px;
    font-size: 18px;
}

#con-under-freshness {
    position: absolute;
    top: 1225px;
    font-size: 18px;

}

#con2-under-freshness {
    position: absolute;
    top: 1290px;
    font-size: 18px;

}

#F-rides-first {
    position: absolute;
    top: 1180px;
    font-size: 30px;
    font-family: 'Café Françoise', sans-serif;
}

#con3-under-freshness-{
    position: absolute;
    font-size: 18px;
    top: 1315px;


}

#con4-under-freshness {
    position: absolute;
    font-size: 18px;
    top: 1338px;


}

#Customer-Service {
    position: absolute;
    font-size: 30px;
    font-family: 'Café Françoise', sans-serif;
    top: 1180px;
    left: 1055px;
}

#Cus-ser-prompt1 {
    position: absolute;
    font-size: 18px;
    top: 1250px;
    left: 1055px;
}

#Cus-ser-prompt2 {
    position: absolute;
    font-size: 18px;
    top: 1271px;
    left: 1149px;
}

#Cus-ser-prompt3 {
    position: absolute;
    font-size: 18px;
    top: 1290px;
    left: 1055px;
}

#Cus-ser-prompt4 {
    position: absolute;
    font-size: 18px;
    top: 1330px;
    left: 1055px;
}

#Cus-ser-prompt5 {
    position: absolute;
    font-size: 18px;
    top: 1395px;
    left: 1055px;
}