body {
    background-color: brown;
}

#welcome {
    position: absolute;
    left: 550px;
}

#welcome_2 {
    position: absolute;
    top: 420px;
}

#Chicken_Image {
    position: absolute;
    width: 450px;
    left: 561px;
    bottom: 355px;

}